@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

html {
    font-size: 16px;
}

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-clara);
}

body,
h1,
h2,
p,
figure,
nav ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/*imagem responsiva*/

a {
    text-decoration: none;
}

h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    /*deixa a letra maiuscula*/
    font-weight: 800;
    font-size: 1.5rem;

}

h1 a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

header .limitador {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
    z-index: 100;
}


nav h2 a:hover,
nav h2 a:focus,
.links-menu a:hover,
.links-menu a:focus {
    background-color: var(--cor-intermediaria);
}

nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    /* background-color: aqua; */
    padding: 1rem;
    display: inline-block;
}


.links-menu {
    list-style: none;

    /* Atenção: neste ponto, fazemos com que os links do menu iniciem escondidos(display:none). Posteriormente, com ajuda do CSS combinado com JS, faremos os controles para exibir/esconder de forma alternada. */
    display: none;
}

.links-menu a {
    /*estilos para os links contidos na ul dentro do nav*/
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    height: 50px;
    justify-content: center;
    /*alinhar na horizontal*/
    align-items: center;
    /*alinhar na vertical*/
}

/* Regra que será aplicada somente quando o menu for acionado para abertura */
.links-menu.aberto {
    display: flex;

    /* Fazemos com que eles fiquem um em cima do outro (flex coluna) */
    flex-direction: column;

    /* ativamos position:absolute e ajustamos a posição final dos links suando propriedades de coordenadas */
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

/* 
1) Crie uma regra CSS para formatar o destaque com as seguintes configurações: 

- Altura 500px
- imagem de fundo (fundo-destaque)
-imagem de fundo parada
- flex com alinhamento totalmente centralizado, e um elemento em cima do outro (ou seja, use o modo coluna)

2) Crie uma regra CSS para formatar o h2 e o p contidos em Destaques. Faça com que os textos fiquem centralizados (text-align) e com cor clara.
*/
.destaque {
    height: 88vh;
    height: 500px;
    background-image: url(../imagens/fundo-destaque.jpg);
    /*imagem de fundo*/
    background-attachment: fixed;
    /*fundo fixo*/
    display: flex;
    flex-direction: column;
    /* color: var(--cor-clara); */
    justify-content: center;
    align-items: center;

    /* text-align: center; */

    /*deixa a letra maiuscula*/
    /* font-weight: 500px; */
    /* font-size: 1.5rem;
    
    background-size: 800px;
    /*tamanho*/
    /* padding: 100px; */
}

.destaque h2,
.destaque p {
    color: var(--cor-clara);
    text-align: center;

    /* aplicação de animação */
    animation-name: animaDestaque;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

/*Clamp()
Função para o redirecionamento de textos responsivo de acordo com certo critérios.

clamp(
    tamanhoMinimo,
    tamanhoMédio,
    tamanhoMaximo
)
*/
.destaque h2 {
    font-size: clamp(3rem, 10vw, 7rem);
}

.destaque p {}

/* Regra de animação */
@keyframes animaDestaque {

    /* De onde vem(partida) */
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    /* para onde vai(destino) */
    to {
        opacity: 1;
    }
}

article h2 {
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Relaway, sans-serif;
    color: var(--cor-titulo);
}

.front-end,
.historia,
.localizacao {
    text-align: center;
}

article p {
    padding: 0.5rem 0;
}

address {
    font-style: normal;
    font-size: 1.2rem;
}

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
}

.historia h2 {
    color: var(--cor-clara);
    text-shadow: black 5px 5px 10px;

}

.historia iframe {
    width: 100%;
    max-width: 700px;
    /*limite maximo de largura*/
    margin-bottom: 2rem;
}

.localizacao iframe {
    width: 100%;
    margin-top: 3rem;
}

.limitador {
    width: 95vw;
    margin: auto;
}

footer {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    height: 30vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    /*alinhar na horizontal*/
    align-items: center;
    text-align: center;
}

/* Refras para as paginas: produtos, serviços e contato */

.conteudo {
    background-color: var(--cor-intermediaria);
    padding: 0.5rem;
    border-radius: 8px;
}

.conteudo h2 {
    padding-left: 0;
    font-size: 1.8rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

table {
    border: solid 4px;
    width: 80%;
    margin: auto;
    max-width: 600px;
    border-collapse: collapse;
    /*tira os espaços entre as linhas de cada celula*/
}

caption {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

th,
td {
    border: solid 1px;
}

th {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    border-color: var(--cor-escura);
    padding: 0.8rem;
}

td {
    padding: 0.5rem;
}

tr:nth-child(odd) {
    background: var(--cor-clara);
}

td:nth-child(2) {
    /*celulas(ou coluna) do meio*/
    text-align: center;
}

td:last-child,
th:last-child {
    text-align: right;
}

td:last-child::before {
    content: "R$ ";
}

/* imagem serviços */
.imgs{text-align: center;}

.imgs img {
    border-radius: 50%;
    transform: scale(0.8);
    filter: brightness(120%) blur(2px);
    transition: 0.5s;
}

.imgs img:hover {
    transform:(1) ;
    filter: none;
    border-radius: 10%;
}

@media screen and (min-width: 570px) {
    nav h2 {
        display:none
    }

    .links-menu {
        display: flex;
    }

    ul li{
        width: 100%;
    }

    nav {
        width: 60%;
    }

    .links-menu li {
        width: 100%;
    }

img{
    height: 150px;
}

}

@media screen and (min-width:1000px) {

    html{font-size: 18px;}
    .limitador{max-width: 1000px;}
}



